* {
  font-family: monospace;
}

html {
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 25% 35%;
  grid-template-rows: 10% 25% 70% 50%;
  /* grid-template-areas: 
  "hello hello ."
  "header header . "
  "content content image"; */
  
  grid-gap: 10px;
  padding: 10px;
  padding-left: 48px; /* check if left padding affects all grid cells */
  
}
.helloDiv{
  grid-column-start: 1;
  grid-column-end: 1;
  /* grid-area: hello; */
}
.h1Div{
  transform: scale(110%);
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
  /* grid-area: header; */
}
.pTagDiv{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
  /* grid-area: content; */
}
.imgTagDiv{ 
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  /* grid-area: image; */
}

nav.navbar {
  box-shadow:inset -1px 4px 40px 10px rgba(0, 0, 0, 0.8);
  
  clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 78%, 53% 69%, 14% 89%, 0% 80%, 0% 20%);
}

h1 {
  font-size: 35px;
  color: rgb(16, 187, 213);
  margin-left: 28px;
  
}
/* playing with letters */
.h1Div h1::first-letter{
  color: rgb(0, 255, 174);
  font-size: 65px;
  
}
.h1Div h1 #nameT1:hover{
  color: rgb(0, 255, 174);
  font-style: italic;
  text-shadow: 1px 2px #e46c6c;
}
.h1Div h1 #nameR{
  font-size: 30px; 
}
.h1Div h1 #nameR:hover{
  font-size: 35px; 
  color: rgb(116, 228, 245);
  font-style: italic;
  text-shadow: 1px 2px #c6c6c6;
}
.h1Div h1 #nameI1{
  font-size: 43px;
  color: rgb(190, 222, 250);
}
.h1Div h1 #nameI1:hover{
  font-size: 40px;
  color: aliceblue;
  font-style: italic;
  text-shadow: 1px 2px #c6c6c6;
}
.h1Div h1 #nameS{
  font-size: 37px;
}
.h1Div h1 #nameS:hover{
  font-style: italic;
  text-shadow: 1px 2px #e46c6c;
  font-size: 32px;
}
.h1Div h1 #nameT2{
  font-size: 42px;
}
.h1Div h1 #nameT2:hover{
  font-style: italic;
  font-size: 46px;
}

.h1Div h1 #nameA1:hover{
  font-style: italic;
  text-shadow: 1px 2px #c6c6c6;
}
.h1Div h1 #nameN1{
  font-size: 48px;
}
.h1Div h1 #nameN1:hover{
  font-style: italic;
}
.h1Div h1 #nameF{
  color: rgb(0, 255, 174);
  font-size: 60px;
}
.h1Div h1 #nameF:hover{
  color: rgb(0, 255, 174);
  font-size: 65px;
  font-style: italic;
  text-shadow: 1px 2px #e46c6c;
}
.h1Div h1 #nameO:hover{
  font-style: italic;
  text-shadow: 1px 2px #c6c6c6;
}
.h1Div h1 #nameN1:hover{
  font-style: italic;
  text-shadow: 1px 2px #e46c6c;
}
.h1Div h1 #nameT3{
  font-size: 43px;
  color: rgb(190, 222, 250);
}
.h1Div h1 #nameT3:hover{
  font-style: italic;
  text-shadow: 1px 2px #c6c6c6;
}
.h1Div h1 #nameA2{
  font-size: 28px;
}
.h1Div h1 #nameA2:hover{
  font-style: italic;
  font-size: 40px;
}
.h1Div h1 #nameN2{
  font-size: 40px;
}
.h1Div h1 #nameN2:hover{
  font-style: italic;
  text-shadow: 1px 2px #e46c6c;
  font-size: 32px;
}
.h1Div h1 #nameI2:hover{
  font-style: italic;
  font-size: 42px;
}
.h1Div h1 #nameN3:hover{
  font-style: italic;
  text-shadow: 1px 2px #c6c6c6;
}
.h1Div h1 #nameI3{
  font-size: 38px;
}
.h1Div h1 #nameI3:hover{
  font-style: italic;
  text-shadow: 1px 2px #e46c6c;
}
.h1Div h1 #nameCom{
  font-size: 56px;
}
.h1Div h1 #nameCom:hover{
  font-style: italic;
  text-shadow: 1px 2px #c6c6c6;
}

/*========================================================== */


.navbar-brand h1{
  font-size: 28px;
  color: rgb(173, 173, 173);
  text-shadow: 1px 2px black;
  margin-left: 5px;
}

body {
  background-image: radial-gradient(circle at center center, #c6c6c6, #354347), repeating-radial-gradient(circle at center center, #c1c1c1, #747474, 26px, transparent 52px, transparent 16px);
  background-blend-mode: multiply;
  background-color: #354347;
  background-repeat: no-repeat;
}

p {
  color: rgb(151, 197, 229);
}
.helloMessage{
  color: rgb(41, 102, 143);
  /* text-decoration: underline; */
  line-height: 0px;
  font-size: 20px;
  padding-top: 40px;
}

.footer {
  padding: 5px;
  box-shadow:inset -1px -4px 40px 10px rgba(0, 0, 0, 0.8);
}

.footerText {
  color: rgba(255, 255, 255, 0.556);
  text-align: center;
  padding: 20px 20px 5px 20px;
}