html {
  height:100%;
}

h1 { 
  font-size: 28px;
  color: white;
}

body {
  background-image: radial-gradient(circle at center center, #c6c6c6, #354347), repeating-radial-gradient(circle at center center, #c6c6c6, #c6c6c6, 26px, transparent 52px, transparent 26px);
  background-blend-mode: multiply;
  background-color: #354347;
  background-repeat: no-repeat; 
  
}

p {
  color: white;
}

.footer {
  padding: 28px;
}