* {
  font-family: monospace;
}

html {
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas:
    '1 1 1 1 1 1'
    '2 2 2 2 2 2'
    '3 3 4 4 4 4';
  gap: 10px;
  padding: 10px;
  padding-left: 48px;
}
.pTagColorDiv { grid-area: 1; }
.h1ColorChangeDiv { grid-area: 2; }
.pTagDiv { grid-area: 3; }
.imgTagDiv { grid-area: 4; }


nav.navbar {
  box-shadow:inset -1px 8px 28px -8px rgba(30, 110, 31, 0.8);
  
  clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 78%, 53% 69%, 14% 89%, 0% 80%, 0% 20%);
  /* try gradient shadow to create rounded effect */
}

h1 {
  font-size: 28px;
  color: white;
}
.h1ColorChange {
  color: rgb(16, 187, 213);
}

body {
  background-image: radial-gradient(circle at center center, #c6c6c6, #354347), repeating-radial-gradient(circle at center center, #c6c6c6, #c6c6c6, 26px, transparent 52px, transparent 26px);
  background-blend-mode: multiply;
  background-color: #354347;
  background-repeat: no-repeat;
}

p {
  color: rgb(151, 197, 229);
}
.pTagColor{
  color: rgb(41, 102, 143);
}

.footer {
  padding: 5px;
  box-shadow:inset -1px -8px 28px -8px rgba(30, 110, 31, 0.8);
}

.footerText {
  color: rgba(255, 255, 255, 0.556);
  text-align: center;
  padding: 20px 20px 5px 20px;
}