* {
  font-family: monospace;
}

html {
  height: 100%;
}

/* .homeContainer{
  margin: 28px 60px 0px 60px;
} */

.grid-container {
  display: grid;
  grid-template-columns: 45% 12% 35% ;
  grid-template-rows: 10% 9% 30% 30%;
  
  grid-gap: 10px;
  padding: 10px;
  
  /* margin-top: 28px;
  margin-left:60px;
  margin-right: 60px; */
  /* margin: 28px 60px 0px 60px; */
  padding-left: 58px;
}

/* ======================HOME CSS============================= */

.helloDiv{
  
  grid-column-start: 2;
  grid-column-end: 4;
  padding-top: 21px;
  margin-left:60px;
}

.h1Div{
  
  margin-left:83px;
  transform: scale(110%);
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
 
}
.pTagDiv{
  
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
.imgTagDiv{ 
  margin-left: 80px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 5;
}

nav.navbar {
  box-shadow:inset -1px 4px 40px 10px rgba(0, 0, 0, 0.8);
  
  clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 78%, 53% 69%, 14% 89%, 0% 80%, 0% 20%);
}

h1 {
  
  font-size: 35px;
  color: rgb(16, 187, 213);
  margin-left: 28px;
  
}
/*=================playing with letters (HOME NAME CSS)=========*/
.h1Div h1::first-letter{
  color: rgb(0, 255, 174);
  font-size: 65px;
  
}
.h1Div h1 #nameT1:hover{
  color: rgb(0, 255, 174);
  font-style: italic;
  text-shadow: 1px 2px #e46c6c;
}
.h1Div h1 #nameR{
  font-size: 30px; 
}
.h1Div h1 #nameR:hover{
  font-size: 35px; 
  color: rgb(116, 228, 245);
  font-style: italic;
  text-shadow: 1px 2px #c6c6c6;
}
.h1Div h1 #nameI1{
  font-size: 43px;
  color: rgb(190, 222, 250);
}
.h1Div h1 #nameI1:hover{
  font-size: 40px;
  color: aliceblue;
  font-style: italic;
  text-shadow: 1px 2px #c6c6c6;
}
.h1Div h1 #nameS{
  font-size: 37px;
}
.h1Div h1 #nameS:hover{
  font-style: italic;
  text-shadow: 1px 2px #e46c6c;
  font-size: 32px;
}
.h1Div h1 #nameT2{
  font-size: 42px;
}
.h1Div h1 #nameT2:hover{
  font-style: italic;
  font-size: 46px;
}

.h1Div h1 #nameA1:hover{
  font-style: italic;
  text-shadow: 1px 2px #c6c6c6;
}
.h1Div h1 #nameN1{
  font-size: 48px;
}
.h1Div h1 #nameN1:hover{
  font-style: italic;
}
.h1Div h1 #nameF{
  color: rgb(0, 255, 174);
  font-size: 60px;
}
.h1Div h1 #nameF:hover{
  color: rgb(0, 255, 174);
  font-size: 65px;
  font-style: italic;
  text-shadow: 1px 2px #e46c6c;
}
.h1Div h1 #nameO:hover{
  font-style: italic;
  text-shadow: 1px 2px #c6c6c6;
}
.h1Div h1 #nameN1:hover{
  font-style: italic;
  text-shadow: 1px 2px #e46c6c;
}
.h1Div h1 #nameT3{
  font-size: 43px;
  color: rgb(190, 222, 250);
}
.h1Div h1 #nameT3:hover{
  font-style: italic;
  text-shadow: 1px 2px #c6c6c6;
}
.h1Div h1 #nameA2{
  font-size: 28px;
}
.h1Div h1 #nameA2:hover{
  font-style: italic;
  font-size: 40px;
}
.h1Div h1 #nameN2{
  font-size: 40px;
}
.h1Div h1 #nameN2:hover{
  font-style: italic;
  text-shadow: 1px 2px #e46c6c;
  font-size: 32px;
}
.h1Div h1 #nameI2:hover{
  font-style: italic;
  font-size: 42px;
}
.h1Div h1 #nameN3:hover{
  font-style: italic;
  text-shadow: 1px 2px #c6c6c6;
}
.h1Div h1 #nameI3{
  font-size: 38px;
}
.h1Div h1 #nameI3:hover{
  font-style: italic;
  text-shadow: 1px 2px #e46c6c;
}
.h1Div h1 #nameCom{
  font-size: 56px;
}
.h1Div h1 #nameCom:hover{
  font-style: italic;
  text-shadow: 1px 2px #c6c6c6;
}

/*========================================================== */


.navbar-brand h1{
  font-size: 28px;
  color: rgb(173, 173, 173);
  text-shadow: 1px 2px black;
  margin-left: 5px;
}

body {
  /* grey theme below thought it was more fun with some colour */
  /* background-image: radial-gradient(circle at center center, #c6c6c6, #354347), repeating-radial-gradient(circle at center center, #c1c1c1, #747474, 26px, transparent 52px, transparent 16px); */
  background-image: radial-gradient(circle at center center, #54bdea6f, #d627c761), repeating-radial-gradient(circle at center center, #c1c1c1, #747474, 26px, transparent 52px, transparent 16px);
  background-blend-mode: multiply;
  background-color: #354347;
  background-repeat: no-repeat;
}

p {
  color: rgb(151, 197, 229);
}
.hoverText{
  font-weight: bold;
  font-style: italic;
  color: rgba(151, 196, 229, 0.456);
}
.pTagDiv:hover{
  
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.233),
    rgba(160, 235, 252, 0.2)
  );
  border: solid rgba(255, 255, 255, 0.015) 5px;
  border-style: outset;
  border-radius: 10rem;
  backdrop-filter: blur(10px);
  z-index: 900;
  border-radius: 13%;
  backdrop-filter: blur(5px);
  transform: scale(1.2);
  margin-top: 40px;
  height: 120%;
  padding: 15px;
  width:80%;
  grid-column-start: 2;
  grid-column-end: 4;
  
}
.pTagDiv:hover .hoverText{
  visibility: hidden;
}
.helloMessage{
  color: rgb(47, 118, 165);
  line-height: 0px;
  font-size: 20px;
  padding-top: 58px;
  
}

.imgTag{
  height: 600px;
  width: 600px;
}
.imgTag:active{
  animation: growShrink 3s ease 0s infinite normal none;
  
}
@keyframes growShrink{
  0%{
    transform: scale(0.75);
  }
  50%{
    transform: scale(1)
  }
  100%{
    transform: scale(0.75);
  }
}

/*===================ABOUT CSS==============================*/

.aboutContainer{
  margin-left: 5em;
}
.aboutHeader{
  font-size: 2.54em;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start:2;
  grid-row-end: 3;
}
.aboutPTagDiv{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start:3;
  grid-row-end: 5;
}
.aboutPTagDiv:hover{
  margin-left: 13.5em;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.233),
    rgba(160, 235, 252, 0.2)
  );
  border: solid rgba(255, 255, 255, 0.015) 5px;
  border-style: outset;
  border-radius: 10rem 10rem 10rem 10rem ;
  backdrop-filter: blur(10px);
  z-index: 900;
  border-radius: 13%;
  backdrop-filter: blur(5px);
  transform: scale(1.2);
  height: 120%;
  padding: 2em;
  width:80%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 5;
  
}
.aboutPTagDiv:hover .hoverText{
  visibility: hidden;
}
  
/* =================PROJECT CSS=============================*/


/* =================CONTACT CSS=============================*/

.contact-grid-container {
  display: grid;
  grid-template-columns: 25% 50% 25% ;
  grid-template-rows: 25% 25% 25% 25%;
  grid-gap: 10px;
  padding: 10px;
  
}
.contactContainer{
  display:flex;
  justify-content:center;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.233),
    rgba(160, 235, 252, 0.2)
  );
  border-radius: 1.5rem;
  border-style: outset;
  border:solid 5px rgba(160, 235, 252, 0.092);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 5;
  height: 150%;
}

.contactH1{
  margin: 0px;
  text-align: center;
  padding-bottom: 0.5em;
  text-shadow:rgba(25, 25, 25, 0.655) 3px 3px;
}

.form{
  color: rgb(128, 192, 238);
  display:grid;
  position: center;
  grid-template-columns: 50% 50% 50% 50% 50%;
  grid-template-rows: 25% 25% 25% 25% 25%;
  justify-content: center;
  font-size: 17px;
}

.name{
  grid-column-start: 3;
  grid-column-end: 4;
}

.send{
  border: solid 1px rgba(18, 235, 255, 0.473);
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
  height: 50px;
  border-radius: 1em;
  background: linear-gradient(25deg,#54bdea8e , #d627c730);
}
.send:hover{
  color: rgb(151, 197, 229);
  animation: sendSpin 3s ease 0s infinite normal none;
}
@keyframes sendSpin{
  0%{
    transform: scale(1);
    background: linear-gradient(25deg,#54bdeac8 30%, #d627c7a5);

  }
  25%{
    
    background: linear-gradient(90deg,#54bdeac8 30%, #d627c7a5);
  }
  50%{
    transform: scale(1.1);
    background: linear-gradient(180deg,#54bdeac8 30%, #d627c7a5);
  }
  75%{
    background: linear-gradient(240deg,#54bdeac8 30%, #d627c7a5);

  }
  100%{
    transform: scale(1);
    background: linear-gradient(360deg,#54bdeac8 30%, #d627c7a5);
  }
}

.githubContainer{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
}
.linkdInContainer{
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 6;
}
.gitHubLogo{
  margin-left: 50%;
  height: 70px;
  filter:brightness(0);
}
.linkdInLogo{
  margin-right: 50%;
  height: 70px;
}
.gitHubLogo:hover{
  
  filter:brightness(50);
}
.linkdInLogo:hover{
  filter:invert()
}


/* =================FOOTER CSS============================= */

.footer {
  padding: 5px;
  box-shadow:inset -1px -4px 40px 10px rgba(0, 0, 0, 0.8);
}

.footerText {
  color: rgba(255, 255, 255, 0.556);
  text-align: center;
  padding: 20px 20px 5px 20px;
}